/* SAP Fiori Icons */
@font-face {
  font-family: 'SAP Fiori Icons';
  src:
    url('https://github.com/harjeetjudge/SACFonts/SAP-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
